*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fullHD{
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

.wallpaper-body{
    display: flex;
    justify-content: space-between;
    margin: 11.5vh 21.5vw 6.5vh 6vw;
}

.calendar-player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78.45vh;
}

.calendar-container{
    background: #e6d9cd;
    padding: 1vh 2.5vw;
    margin: 0 auto;
    overflow: auto;
    border-radius: 30px;
    height: 55vh;
}

.calendar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4vh;
    margin-bottom: 1.5vh;
}

.calendar-menu h1{
    padding-top: 0.6vh;
    font-size: 3.4em;
    margin: 0 2vw 0 2vw;
    font-weight: 300;
}

.button-container-calendar{
    text-align: center;
}

.arrow-button{
    width: 30px;
    height: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border: none;
    background: #e6d9cd;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.button-container-calendar button:hover{
    background-color: #dacec2;
}

.button-container-calendar h2{
    font-weight: lighter;
    font-size: 1.8em;
    margin-bottom: 1.5vh;
}

.button-container-calendar p{
    font-weight: 100;
}

.button-container-calendar h2, .table-calendar th, .table-calendar td{
    color: #605a56;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.table-calendar th{
    padding: 3px 20px;
    font-size: 1.5em;
    font-weight: lighter;
}

.table-calendar td{
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: top;
    border-spacing: 0;
}

.date-picker.selected {
    font-weight: bold;
    background-color: #bfac9e;
    border-radius: 50%;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

.box{
    display: flex;
    background-color: #e6d9cd;
    padding: 1.7vw;
    border-radius: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555;
    position: relative;
}

#albumCoverArt{
    width: 8vw;
    border: solid 5px #605a56;
    /* position: absolute; */
}

.text{
    font-size: 1.5em;
    margin-left: 2vw;
}
